@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
}

body{
  color:white;
}


/* ================= NAVBAR ================= */

.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:18px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:100;
  background:rgba(0,0,0,0.35);
  backdrop-filter:blur(10px);
}

.logo-area{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo-area img{
  height: 80px;
  width: auto;
  filter: drop-shadow(0 2px 6px rgba(0,0,0,.4));
}

.logo-area h2{
  font-size:20px;
  font-weight:700;
}

.logo-area p{
  font-size:12px;
  opacity:.8;
}

.nav-btn{
  color:white;
  text-decoration:none;
  border:1.5px solid white;
  padding:8px 22px;
  border-radius:30px;
  font-size:14px;
  font-weight:600;
  transition:.3s;
}

.nav-btn:hover{
  background:white;
  color:#06204b;
}


/* ================= HERO ================= */

.hero{
  background:
  linear-gradient(rgba(0,40,90,.4), rgba(0,20,60,.6)),
  url("../images/nyobaa.jpg");

  background-size:cover;
  background-position:center;
}

.content{
  max-width:1100px;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.hero h1{
  font-size:52px;
  font-weight:800;
  letter-spacing:2px;
  text-transform:uppercase;
  margin-bottom:20px;
}

.desc{
  font-size:17px;
  line-height:1.7;
  max-width:700px;
  margin-bottom:50px;
}


/* ================= CARD ================= */

.card-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:25px;
}

.card{
  width:250px;
  height:250px;
  background:rgba(0,60,130,.65);
  border:1px solid rgba(255,255,255,.3);
  border-radius:20px;
  padding:20px;
  text-decoration:none;
  color:white;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  transition:.3s;
}

.card:hover{
  transform:translateY(-8px);
  background:#007bff;
}

.icon{
  font-size:40px;
  margin-bottom:12px;
}

.card h3{
  font-size:17px;
  margin-bottom:10px;
}

.card p{
  font-size:13px;
  margin-bottom:12px;
}

.card span{
  font-size:13px;
  font-weight:600;
}


/* ================= FOOTER ================= */

footer{
  background:#021126;
  padding:20px;
  text-align:center;
  font-size:13px;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 768px){

  .navbar{
    padding:12px 15px;
  }

  .logo-area img{
    width:45px;
    height: 50px;
  }

  .logo-area h2{
    font-size:14px;
  }

  .logo-area p{
    font-size:10px;
  }

  .nav-btn{
    font-size:12px;
    padding:6px 14px;
  }

  .hero{
    padding:120px 15px 50px;
  }

  .hero h1{
    font-size:30px; /* FIX UTAMA */
  }

  .desc{
    font-size:14px;
  }

  .card{
    width:100%;
    max-width:300px;
    height:auto;
  }

    .hero{
    background-position: top;
  }
}